.Nav{
  background-color: #6060da;
  display: flex;

  color: white;
  flex-direction: row;
  gap: 50rem;
  height: 40px;
 align-items: center;
  position: fixed;
  top: 0;
  z-index: +1;
  width: 100%;





}

.H1{
  flex-grow: 1;
  font-size: large;
  width: 100%;




}
.H2{
  flex-grow: 1;
  width: 100%;

  font-size: large;


}
.childDiv{
  display: flex;
}

i{
  font-size: xx-large;
margin-right: 10px;
 margin-top: 5px;

}

.logdiv{

margin-left: 35%;

}


.Homecomp{
  position: absolute;
  top: 30px;
  left: 250px;
}

.sidebar{
  transform: translateX(-180%);
}
